<%- include('../partials/header') %>

<div class="ui main text container segment">

  <div class="ui huge header"><%= blog.title %></div>

  <div class="ui top attached">
    <div class="item">

      <img class="ui fluid rounded image" src="<%= blog.image %>">

      <div class="content ui large label">
        <span><%= moment(blog.created).fromNow() %></span>
        <i class="chevron circle right icon"></i>
        <span><em>Submitted by </em><strong><%= blog.author.username %></strong></span>
      </div>

      <div class="ui divider"></div>

      <div class="description">
        <p><%- blog.body %></p>
      </div>

      <div class="ui hidden divider"></div>

      <% if (currentUser && blog.author.id.equals(currentUser._id)) { %>
        <a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">Edit Post</a>

        <form style="display: inline" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
          <button class="ui blue basic right floated button">Delete Post</button>
        </form>
      <% } %>

    </div>
  </div>

  <div class="ui horizontal divider">
    <i class="comments icon"></i>
    Comments
  </div>

  <div class="ui comments">

    <% blog.comments.forEach(function(comment) { %>
      <div class="ui segment comment">
        <div class="content">
          <a class="author"><%= comment.author.username %></a>
          <div class="metadata">
            <div class="date"><%= moment(comment.created).fromNow() %></div>
          </div>
          <div class="text">
            <%= comment.text %>
          </div>
          <div class="actions">
            <a class="edit">Edit</a>
            <a class="delete">Delete</a>
          </div>
        </div>
      </div>
    <% }) %>

    <form class="ui reply form" action="/blogs/<%= blog._id %>/comments" method="POST">
     <div class="field">
       <input type="text" name="comment[text]" placeholder="Text">
     </div>
     <button class="ui primary submit labeled icon button">
       <i class="icon edit"></i> Add Comment
     </button>
   </form>

  </div>

</div>

<%- include('../partials/footer') %>
